// sass --watch scss/section-nw-featured-collection.scss:assets/section-nw-featured-collection.css

#nw-featured-collection {
	margin-top: 53px;
}

#nw-featured-collection {
	h2 {
		font-family: var(--font-body-family);
		font-size: 28px;
		font-weight: 700;
		line-height: 32px;
		text-align: left;
		color: #231F20;
		strong {
			
		}
	}
	p {
		font-family: var(--font-body-family);
		font-size: 16px;
		font-weight: 400;
		line-height: 19.5px;
		text-align: left;
		color: #231F20;
	}
	.slider-buttons {
		display: none;
	}
	.card__heading.h5{
		font-family: var(--font-body-family);
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		text-align: left;
		color: #231F20;
	}
	.card-information {
		.price {
			.price__regular span {
				font-family: var(--font-body-family);
				font-size: 18px;
				font-weight: 400;
				line-height: 21.94px;
				text-align: left;
				color:#231F20;
			}
			.price__sale span {
				font-family: var(--font-body-family);
				font-size: 14px;
				font-weight: 400;
				line-height: 17.07px;
				text-align: left;
				color: #6F6F6F;
			}
		}
	}

	.card__information {
		h3 {
			a {
				color: #231F20;
				font-family: var(--font-body-family);
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				text-align: left;
			}
		}
	}

	.card__badge {
		align-self: auto;
		grid-row-start: 1;
		span {
			font-family: var(--font-body-family);
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			border-radius: 0px;
			text-transform: uppercase;
			background: #231F20;
			padding: 6px 16px;
			border-color: #231F20;
		}
	}

	.quick-add__submit {
		background: #C02127;
		font-family: var(--font-body-family);
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		color: #fff;
		border-color: #C02127;
	}

	@media screen and (max-width: 768px) {
		slider-component {
			ul {
				display: flex;
				gap: 16px;
				li {
					padding: 16px;
					width: 300px;
					border: 1px solid #E4E4E4;
					border-radius: 12px;
				}
			}
		}
	}

}