// sass --watch scss/section-nw-image-banner.scss:assets/section-nw-image-banner.css

.nw-banner-image::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to top, #232222, transparent);
    pointer-events: none;
}

.before-break {
	color: transparent;
	-webkit-text-stroke: 1px white;
	text-stroke: 1px white;
}


.decorative-text-wrapper {
	.decorative-block {
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: left;
		font-weight: 700;
		font-family: var(--font-body-family);
		font-size: 60px; 
		color: #fff;
		line-height: 90px;
		br {
			content: "";
			display: block !important;
			margin: -30px 0 !important;
		}
	}
}

/* Desktop Banner */
#Banner-template--19210746757356__image_banner{
	.banner__text {
		p {
			text-align: left;
		}
	}
	.banner__buttons {
		width: 100%;
		max-width: unset;
		a {
			text-align: left;
		}
		
	}
}
@media screen and (max-width: 480px) {
#Banner-template--19210746757356__image_banner{
		display: none;
		.banner__text {
			p {
				text-align: left;
			}
		}
		.banner__buttons a {
			text-align: left;
		}
	}
}
  
/* Mobile Banner */
@media screen and (max-width: 480px) {
	#Banner-template--19210746757356__image_banner_RAmtdR {
		display: block !important;
		.banner__text {
			p {
				text-align: left;
				font-family: var(--font-body-family);
				font-size: 18px;
				font-weight: 400;
				line-height: 21.94px;
				color: #fff;
				opacity: 1;
			}
		}
		.banner__buttons {
			width: 100%;
			a {
				text-align: left;
				margin-top: 32px;
				margin-bottom: 40px;
				border-radius: 100px;
				background: #C02127;

				font-family: var(--font-body-family);
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				text-align: center;
				color: #fff;
				border: 0px;
				opacity: 1;

				&::before, &:after {
					box-shadow: none;
				}

			}
			
		}
	}
}
#Banner-template--19210746757356__image_banner_RAmtdR {
	display: none;
}

@media only screen and (max-width: 480px) {
	.decorative-text-wrapper {
		.decorative-block {
			margin-top: 0px;
			margin-bottom: 0px;
			text-align: left;
			font-weight: 700;
			font-family: var(--font-body-family);
			font-size: 60px; 
			color: #fff;
			line-height: 90px;
			br {
				content: "";
				display: block !important;
				margin: -30px 0 !important;
			}
		}
	}

	.banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
		min-height: 90vh !important;
	}

	.banner__box {
		display: flex;
		flex-direction: column;
		padding-bottom: 0px;
	}
}