<div id="nw-collapsible-menu">
	{% content_for 'blocks' %}
</div>

{% schema %}
	{
		"name": "NW Collapsible Menu",
		"blocks": [],
		"presets": [
			{
				"name": "NW Collapsible Menu"
			}
		]
	}
{% endschema %}